body {
  background-color: #E0E0E0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
}

p,
li,
table{
  color:#444444;
  line-height: 20px;
}
a {
  color: #F22A83;
  text-decoration:underline;
}

#page {
  width: 1002px;
  padding-top: 15px;
  margin-left: -501px;
  position: absolute;
  left: 50%;
  padding-bottom: 10px;
}

#header {
  background: transparent url(../img/img_css/header_fond.png) top left no-repeat;
  padding-left: 18px;
  position: relative;
  height: 85px;
  padding-top: 14px;
}

#widget_header {
  position: absolute;
  top: 15px;
  right: 250px;
}

#header_compte {
  position:absolute;
  top:27px;
  right:18px;
}
/*
#editorial_content{
  background-image: url(../img/img_css/background_blanc_rose.png);
  background-repeat: repeat-y;
}
*/
#content {
  background: transparent url(../img/img_css/contenu_fond.png) top left repeat-y;
  padding: 0 7px;
}

#footer {
  background: transparent url(../img/img_css/footer_fond.png) top left no-repeat;
  height: 47px;
  padding-left: 10px;
  font-size:13px;
 text-align: center;
}

#footer, #footer a {
  color: #646464;
}


#form_login {
  position: absolute;
  right: 78px;
  top: 13px;
}

#form_login p {
  margin-bottom: 8px;
}

#form_login .input_image {
  position: absolute;
  right: -60px;
  top: 35px;
}

#form_login .input_text {
  width: 125px;
}

#right_column {
  float:right;
  width: 298px;
  margin-top:1px;
}

#form_newsletter {
  background-color: #FF5689;
  margin-bottom: 1px;
  padding: 8px 0 15px 8px;
}
#form_newsletter img { margin-bottom: 8px;}
#form_newsletter .input_text { width: 180px;}
#form_newsletter .input_image { margin-left: 35px;}

.input_image {
  vertical-align: middle;
}
.input_image.image_button_line {
  vertical-align: top;
}


.input_text {
  font-size:0.9em;
  border-color: #FF579C;
  border-width: 1px;
  margin-right: 10px;
}

.input_checkbox,
.input_radio {
  margin-right:10px;
}
a.image_link_block {
  display: block;
  margin-bottom: 1px;
  color: #FFFFFF;
  font-weight: bold;
}

a.image_link_block.encart_flash { background-color: #FFFFFF;}
a.image_link_block.newsletter { background-color: #ff569c;}
a.image_link_block.specialiste { background-color: #53BFED;}
a.image_link_block.test       { background-color: #B1DE23;}
a.image_link_block.temoignage   { background-color: #FF8901;}
a.image_link_block.abonnement   { background-color: #825EFE;}

#left_column {
  width: 690px;
}

#menu {
  height: 39px;
  padding-top:1px;
}

#menu li {
  display: inline;
}

#menu li a {
  display: block;
  float: left;
  padding-right: 1px;
}

#contact a { color: #FF7700;}

#abonnement .choix_abonnement{
  display:block;
  text-align:center;
  float:left;
  cursor: pointer;
}

#abonnement .choix_abonnement img{
  display:block;
}

.img_left {
  float: left;
  margin-right: 10px;
}

.texte_texte .img_right,
.texte_header .img_right {
  float: right;
  margin-left: 10px;
}

.texte_texte .texte_float{
  width:185px;
}
.texte_texte .texte_float p{
  color:#FFFFFF;
}

img.img_right.encadre{
  margin-right: 10px;
}

.texte_texte.justify p {
  text-align:justify;
}


.texte_texte ul li {
  padding:5px 0 6px 5px;
}

#demonstration-extraits .texte_texte ul li {
  padding:5px 0 6px 5px;
}


/* COLONNE DE DROITE */

.col_droite_01avis {
  background: transparent url('../img/img_css/col_droite_01avis.png') top left no-repeat;
  width: 278px;
  height: 253px;
  position: relative;
  margin-bottom: 1px;
}
.col_droite_01avis .avis_suite {
  position: absolute;
  bottom: 15px;
  right: 13px;
}
.col_droite_01avis {
  padding-left: 20px;
  padding-top: 50px;
}
.col_droite_01avis ul { width: 250px;}
.col_droite_01avis li a {
  display: block;
  clear: both;
  color: #0080FF;
  padding-top: 8px;
  text-decoration: underline;
}

.col_droite_02resume {
  background: transparent url('../img/img_css/col_droite_02resume.png') top left no-repeat;
  width: 285px;
  height: 229px;
  padding-left:13px;
  padding-top:14px;
  margin-bottom: 1px;
}



/* Formulaire d'informations */
.informations {
  border:1px solid #F12A82;
  padding:10px;
  margin:10px 0 10px 20px;
  background-color:#FFE2E4;
}


/* Formulaire d'abonnement */

.texte_contenu .texte_texte a.picto_lien {
  font-size:12px;
  line-height:16px;
  text-decoration:underline;
  padding:1px 0 1px 20px;
  margin:15px 0 10px 0;
  color:#E61372;
}
.texte_contenu .texte_texte a.picto_lien.modifier_infos {
  background:transparent url(../img/img_css/picto_modifier_infos.png) top left no-repeat;
}
.texte_contenu .texte_texte a.picto_lien.modifier_abo {
  background:transparent url(../img/img_css/picto_modifier_abo.png) top left no-repeat;
}
.texte_contenu .texte_texte a.picto_lien.modifier_mdp {
  background:transparent url(../img/img_css/picto_modifier_mdp.png) top left no-repeat;
}
.texte_contenu .texte_texte a.picto_lien.voir_paiements {
  background:transparent url(../img/img_css/picto_voir_paiements.png) top left no-repeat;
}


.texte_header {
  width:689px;
}

.texte_header .bandeau{
  color:#FFFFFF;
  margin:0 0 1px 0;
  padding-left:4px;
  font-family:Arial, Helvetica, sans-serif;
  text-transform:uppercase;
  font-size:15px;
  line-height:20px;
  background-color:#F12A82;
  letter-spacing:1px;
}

.texte_header img {
  float:left;
}

.texte_header .edito {
  width:338px;
  height:198px;
  padding:30px 40px 30px 40px;
  color:#FFFFFF;
  margin-left:271px;
  background-color:#FF579C;
}

.texte_header .edito h2 {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:28px;
  margin-bottom:10px;
}


.texte_header .edito p {
  font-family:Arial, Helvetica, sans-serif;
  font-style:italic;
  font-size:14px;
  color:#FFFFFF;
}

.texte_contenu {
  margin-top:1px;
  position: relative;
}


.texte_contenu ul.menu { /*uniquement la balise <ul> qui possède class="menu" à l'intérieur de texte_contenu*/
  width:689px;
  height:35px;
  background-color:#FFB3C9;
  position: absolute;
  left: 0;
  top: 0;
  list-style-type:none;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
}

.texte_contenu ul.menu a {
  width:169px;
  height:35px;
  line-height:35px;
  display:block;
  float: left;
  text-decoration:none;
  padding:0 1px 0 1px;
  color:#E61372;
  background-color:#FFB3C9;
  border-right:1px solid #FFFFFF;
  text-align:center;
  overflow:hidden;
}

.texte_contenu ul.menu.member a {
  float: none;
}

.texte_contenu ul.menu li {
  display:inline;
}

.texte_contenu ul.menu li.actif a {
  text-decoration:none;
  color:#FFFFFF;
  background-color:#F12A82;
  width:170px;
}
/*
#mon-compte .texte_contenu
#mon-compte-identifiants .texte_contenu
#mon-compte-infos .texte_contenu
#mon-compte-mon-abonnement .texte_contenu
#mon-compte-paiements .texte_contenu
#mon-compte-telechargement .texte_contenu
*/

#mon-compte .texte_contenu ul.menu,
#mon-compte-identifiants .texte_contenu  ul.menu,
#mon-compte-infos .texte_contenu  ul.menu,
#mon-compte-mon-abonnement .texte_contenu  ul.menu,
#mon-compte-annuler-mon-abonnement .texte_contenu  ul.menu,
#mon-compte-paiements .texte_contenu  ul.menu,
#mon-compte-telechargement .texte_contenu  ul.menu { /*uniquement la balise <ul> qui possède class="menu" à l'intérieur de texte_contenu*/
  width:200px;
  position: absolute;
  left: 0;
  top: 0;
  list-style-type:none;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
}

#mon-compte .texte_contenu ul.menu a,
#mon-compte-identifiants .texte_contenu  ul.menu a,
#mon-compte-infos .texte_contenu  ul.menu a,
#mon-compte-mon-abonnement .texte_contenu  ul.menu a,
#mon-compte-annuler-mon-abonnement .texte_contenu  ul.menu a,
#mon-compte-paiements .texte_contenu  ul.menu a,
#mon-compte-telechargement .texte_contenu  ul.menu a {
  display:block;
  text-decoration:none;
  margin:0 0 1px 0;
  padding:0 2px 0 17px;
  color:#E61372;
  background-color:#FFB3C9;
  width:181px;
  border-right:none;
  text-align:left;
  height:35px;
}


#mon-compte .texte_contenu ul.menu li.actif a,
#mon-compte-identifiants .texte_contenu  ul.menu li.actif a,
#mon-compte-infos .texte_contenu  ul.menu li.actif a,
#mon-compte-mon-abonnement .texte_contenu  ul.menu li.actif a,
#mon-compte-annuler-mon-abonnement .texte_contenu  ul.menu li.actif a,
#mon-compte-paiements .texte_contenu  ul.menu li.actif a,
#mon-compte-telechargement .texte_contenu  ul.menu li.actif a {
  text-decoration:none;
  color:#FFFFFF;
  background-color:#F12A82;
}

#mon-compte .texte_contenu .texte_texte,
#mon-compte-identifiants .texte_contenu .texte_texte,
#mon-compte-infos .texte_contenu .texte_texte,
#mon-compte-mon-abonnement .texte_contenu .texte_texte,
#mon-compte-annuler-mon-abonnement .texte_contenu .texte_texte,
#mon-compte-paiements .texte_contenu .texte_texte,
#mon-compte-telechargement .texte_contenu .texte_texte {
  margin:0 0 0 200px;
  padding:8px 20px 8px 8px;
  border-left-width: thin;
  border-left-style: solid;
  border-left-color: #E61372;
}

#mon-compte .texte_contenu ul.menu li {
  display:block;
}
#mon-compte .texte_contenu ul.menu,
#mon-compte-identifiants .texte_contenu ul.menu,
#mon-compte-infos .texte_contenu ul.menu,
#mon-compte-mon-abonnement .texte_contenu ul.menu,
#mon-compte-annuler-mon-abonnement .texte_contenu ul.menu,
#mon-compte-paiements .texte_contenu ul.menu,
#mon-compte-telechargement .texte_contenu ul.menu{
  background-color:#FFFFFF;
}


/*
.texte_contenu .texte_texte {
  margin:0 0 0 5px;
  padding:30px 15px 8px 8px;
}
*/

.texte_contenu .texte_texte {
  padding:32px 20px 8px 0;
}


#rappel-identifiants .texte_contenu .texte_texte,
#abonnement .texte_contenu .texte_texte,
#result-abonnement-ok .texte_contenu .texte_texte,
#result-abonnement-ko .texte_contenu .texte_texte,
#newsletter .texte_contenu .texte_texte,
#temoignages .texte_contenu .texte_texte,
#test-express .texte_contenu .texte_texte,
#login .texte_contenu .texte_texte,
#conditions-generales-de-vente .texte_contenu .texte_texte,
#informations-legales .texte_contenu .texte_texte,
#contact .texte_contenu .texte_texte   {
  padding-top:5px;
}

.texte_contenu .texte_texte h3 {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size:28px;
  color:#E61372;
  margin-bottom:10px;
  padding:15px 0 0 20px;
}

.texte_contenu .texte_texte .h3_ss_titre {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size:20px;

}

.texte_contenu .texte_texte h4 {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:17px;
  padding-left:20px;
  margin:20px 0 10px 20px;
  line-height:16px;
  background:transparent url(../img/img_css/puce_fleche_rose.png) top left no-repeat;
  color:#E61372;
}

.texte_contenu .texte_texte h5 {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size:15px;
  padding-left:20px;
  margin:15px 0 10px 20px;
  background:transparent url(../img/img_css/puce_fleche_rose.png) top left no-repeat;
  color:#E61372;
}

.texte_contenu .texte_texte .texte_intro {
  font-size:14px;
  color:#666666;
  line-height:18px;
}

.texte_contenu .texte_texte .texte_mentions2 p,
.texte_contenu .texte_texte .texte_mentions p{
  font-size:13px;
  color:#666666;
  line-height:16px;
}

.texte_mentions2 {
  margin-top: 240px;
}

.texte_contenu .texte_texte p,
.texte_contenu .texte_texte table,
.texte_contenu .texte_texte ul {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size:15px;
  margin-bottom:8px;
  padding-left:20px;
  text-align:justify;
}

#admin_member .texte_contenu .texte_texte p,
#admin_member .texte_contenu .texte_texte table,
#admin_member .texte_contenu .texte_texte ul,
#admin_abonnement .texte_contenu .texte_texte p,
#admin_abonnement .texte_contenu .texte_texte table,
#admin_abonnement .texte_contenu .texte_texte ul,
#admin_page .texte_contenu .texte_texte p,
#admin_page .texte_contenu .texte_texte table,
#admin_page .texte_contenu .texte_texte ul{
  font-size:13px;
}

.texte_contenu .texte_texte p.encadre_couleur,
.texte_contenu .texte_texte ul.encadre_couleur,
.texte_contenu .texte_texte div.encadre_couleur {
  margin-bottom:10px;
  margin-left:20px;
  padding:15px;
  background-color:#F12A82;
  border:thin solid #F12A82;
  color:#FFFFFF;
}
.texte_contenu .texte_texte .encadre_couleur p,
.texte_contenu .texte_texte .encadre_couleur li {
  color:#FFFFFF;
}
.texte_contenu .texte_texte .encadre_couleur a { color:#FFFFFF !important;}

.texte_contenu .texte_texte ul.encadre_couleur {
  list-style-type:disc;
  padding-left:25px;
}

.texte_contenu .texte_texte ul.encadre_couleur li {
  background-image: none;
  padding:5px 0 6px 0;
 }

.texte_contenu .texte_texte p.encadre_couleur a {
  color:#FFFFFF;
}

.texte_contenu .texte_texte p.encadre_blanc,
.texte_contenu .texte_texte ul.encadre_blanc,
.texte_contenu .texte_texte div.encadre_blanc {
  margin:10px 0 10px 20px;
  padding:15px;
  border:thin solid #F12A82;
}

.texte_contenu .texte_texte p.center { text-align:center;}
.texte_contenu .texte_texte p.right { text-align:right;}
.texte_contenu .texte_texte p.small { font-size: 0.85em}

#login .texte_contenu .texte_texte div.abonnement {
  padding:0;
  margin-top:20px;
  margin-bottom:40px;
}

.texte_contenu .texte_texte .abonnements img.offre_1mois { margin-left:4px;}
.texte_contenu .texte_texte .abonnements img.offre_48h { margin-left:94px;}


/* Déclinaisons*/


/* votre-programme, specialistes*/

/*

#votre-programme-votre-corps
#votre-programme-parties-corps
#votre-programme-expertises
#votre-programme-services

#avis-corps-medical-dr-marc-danzon
#avis-corps-medical-pr-michel-revel
#avis-corps-medical-dr-emmanuel-verhaeghe
#avis-corps-medical-comite-de-parrainage
*/

#votre-programme-services .texte_header .bandeau ,
#votre-programme-votre-corps .texte_header .bandeau ,
#votre-programme-seances .texte_header .bandeau ,
#votre-programme-expertises  .texte_header .bandeau ,
#avis-corps-medical-comite-de-parrainage .texte_header .bandeau,
#avis-corps-medical-dr-marc-danzon .texte_header .bandeau,
#avis-corps-medical-pr-michel-revel .texte_header .bandeau,
#avis-corps-medical-dr-emmanuel-verhaeghe  .texte_header .bandeau{
  background-color:#0080FF;
}
#votre-programme-services .texte_header .edito ,
#votre-programme-votre-corps .texte_header .edito ,
#votre-programme-seances .texte_header .edito ,
#votre-programme-expertises  .texte_header .edito ,
#avis-corps-medical-comite-de-parrainage .texte_header .edito,
#avis-corps-medical-dr-marc-danzon .texte_header .edito,
#avis-corps-medical-pr-michel-revel .edito,
#avis-corps-medical-dr-emmanuel-verhaeghe .edito {
  background-color:#6CABFF;
}
#votre-programme-services .texte_contenu ul.menu a ,
#votre-programme-votre-corps .texte_contenu ul.menu a ,
#votre-programme-seances .texte_contenu ul.menu a ,
#votre-programme-expertises  .texte_contenu ul.menu a ,
#avis-corps-medical-comite-de-parrainage .texte_contenu ul.menu a,
#avis-corps-medical-dr-marc-danzon .texte_contenu ul.menu a,
#avis-corps-medical-pr-michel-revel .texte_contenu ul.menu a,
#avis-corps-medical-dr-emmanuel-verhaeghe .texte_contenu ul.menu a {
  color:#2466FE;
  background-color:#BAE5FF;
}
#votre-programme-services .texte_contenu ul.menu li.actif a,
#votre-programme-votre-corps .texte_contenu ul.menu li.actif a,
#votre-programme-seances .texte_contenu ul.menu li.actif a,
#votre-programme-expertises  .texte_contenu ul.menu li.actif a,
#avis-corps-medical-comite-de-parrainage .texte_contenu ul.menu li.actif a,
#avis-corps-medical-dr-marc-danzon .texte_contenu ul.menu li.actif a,
#avis-corps-medical-pr-michel-revel .texte_contenu ul.menu li.actif a,
#avis-corps-medical-dr-emmanuel-verhaeghe .texte_contenu ul.menu li.actif a {
  color:#FFFFFF;
  background-color:#0080FF;
}
#votre-programme-services .texte_contenu ul.menu,
#votre-programme-votre-corps .texte_contenu ul.menu,
#votre-programme-seances .texte_contenu ul.menu,
#votre-programme-expertises  .texte_contenu ul.menu,
#avis-corps-medical-comite-de-parrainage .texte_contenu ul.menu,
#avis-corps-medical-dr-marc-danzon .texte_contenu ul.menu,
#avis-corps-medical-pr-michel-revel .texte_contenu ul.menu,
#avis-corps-medical-dr-emmanuel-verhaeghe .texte_contenu ul.menu{
  background-color:#BAE5FF;
}
#votre-programme-services .texte_contenu .texte_texte,
#votre-programme-votre-corps .texte_contenu .texte_texte,
#votre-programme-seances .texte_contenu .texte_texte,
#votre-programme-expertises  .texte_contenu .texte_texte,
#avis-corps-medical-comite-de-parrainage .texte_contenu .texte_texte,
#avis-corps-medical-dr-marc-danzon .texte_contenu .texte_texte,
#avis-corps-medical-pr-michel-revel .texte_contenu .texte_texte,
#avis-corps-medical-dr-emmanuel-verhaeghe .texte_contenu .texte_texte {
  border-left-color: #2466FE;
}
#votre-programme-services .texte_contenu .texte_texte a,
#votre-programme-votre-corps .texte_contenu .texte_texte a,
#votre-programme-seances .texte_contenu .texte_texte a,
#votre-programme-expertises  .texte_contenu .texte_texte a,
#avis-corps-medical-comite-de-parrainage .texte_contenu .texte_texte a,
#avis-corps-medical-dr-marc-danzon .texte_contenu .texte_texte a,
#avis-corps-medical-pr-michel-revel .texte_contenu .texte_texte a,
#avis-corps-medical-dr-emmanuel-verhaeghe .texte_contenu .texte_texte a{
  color:#2466FE;
  text-decoration:underline;

}
#votre-programme-services .texte_contenu .texte_texte h3,
#votre-programme-votre-corps .texte_contenu .texte_texte h3,
#votre-programme-seances .texte_contenu .texte_texte h3,
#votre-programme-expertises  .texte_contenu .texte_texte h3,
#avis-corps-medical-comite-de-parrainage .texte_contenu .texte_texte h3,
#avis-corps-medical-dr-marc-danzon .texte_contenu .texte_texte h3,
#avis-corps-medical-pr-michel-revel .texte_contenu .texte_texte h3,
#avis-corps-medical-dr-emmanuel-verhaeghe .texte_contenu .texte_texte h3 {
  color:#2466FE;
}
#votre-programme-services .texte_contenu .texte_texte h3 span,
#votre-programme-votre-corps .texte_contenu .texte_texte h3 span,
#votre-programme-seances .texte_contenu .texte_texte h3 span,
#votre-programme-expertises  .texte_contenu .texte_texte h3 span,
#avis-corps-medical-comite-de-parrainage .texte_contenu .texte_texte h3 span,
#avis-corps-medical-dr-marc-danzon .texte_contenu .texte_texte h3 span,
#avis-corps-medical-pr-michel-revel .texte_contenu .texte_texte h3 span,
#avis-corps-medical-dr-emmanuel-verhaeghe .texte_contenu .texte_texte h3 span{

}
#votre-programme-services .texte_contenu .texte_texte h4,
#votre-programme-votre-corps .texte_contenu .texte_texte h4,
#votre-programme-seances .texte_contenu .texte_texte h4,
#votre-programme-expertises  .texte_contenu .texte_texte h4,
#avis-corps-medical-comite-de-parrainage .texte_contenu .texte_texte h4,
#avis-corps-medical-dr-marc-danzon .texte_contenu .texte_texte h4,
#avis-corps-medical-pr-michel-revel .texte_contenu .texte_texte h4,
#avis-corps-medical-dr-emmanuel-verhaeghe .texte_contenu .texte_texte h4 {
  background:transparent url(../img/img_css/puce_fleche_bleu.png) top left no-repeat;
  color:#2466FE;
}

#avis-corps-medical-dr-marc-danzon .texte_contenu .texte_texte h4 {
  margin-top:40px;
}

#votre-programme-services .texte_contenu .texte_texte h5,
#votre-programme-votre-corps .texte_contenu .texte_texte h5,
#votre-programme-seances .texte_contenu .texte_texte h5,
#votre-programme-expertises  .texte_contenu .texte_texte h5,
#avis-corps-medical-comite-de-parrainage .texte_contenu .texte_texte h5,
#avis-corps-medical-dr-marc-danzon .texte_contenu .texte_texte h5,
#avis-corps-medical-pr-michel-revel .texte_contenu .texte_texte h5,
#avis-corps-medical-dr-emmanuel-verhaeghe  .texte_contenu .texte_texte h5{
  background:transparent url(../img/img_css/puce_fleche_bleu.png) top left no-repeat;
  color:#2466FE;
}


#votre-programme-services .texte_contenu .texte_texte p.encadre_couleur,
#votre-programme-services .texte_contenu .texte_texte div.encadre_couleur,
#votre-programme-votre-corps .texte_contenu .texte_texte p.encadre_couleur,
#votre-programme-votre-corps .texte_contenu .texte_texte div.encadre_couleur,
#votre-programme-expertises  .texte_contenu .texte_texte p.encadre_couleur,
#votre-programme-expertises  .texte_contenu .texte_texte div.encadre_couleur,
#avis-corps-medical-comite-de-parrainage .texte_contenu .texte_texte p.encadre_couleur,
#avis-corps-medical-comite-de-parrainage .texte_contenu .texte_texte div.encadre_couleur,
#avis-corps-medical-dr-marc-danzon .texte_contenu .texte_texte p.encadre_couleur,
#avis-corps-medical-dr-marc-danzon .texte_contenu .texte_texte div.encadre_couleur,
#avis-corps-medical-pr-michel-revel .texte_contenu .texte_texte p.encadre_couleur,
#avis-corps-medical-pr-michel-revel .texte_contenu .texte_texte div.encadre_couleur,
#avis-corps-medical-dr-emmanuel-verhaeghe .texte_contenu .texte_texte p.encadre_couleur,
#avis-corps-medical-dr-emmanuel-verhaeghe .texte_contenu .texte_texte div.encadre_couleur {
  background-color:#0080FF;
  border:thin solid #0080FF;
}

#votre-programme-services .texte_contenu .texte_texte p.encadre_blanc,
#votre-programme-services .texte_contenu .texte_texte div.encadre_blanc,
#votre-programme-votre-corps .texte_contenu .texte_texte p.encadre_blanc,
#votre-programme-votre-corps .texte_contenu .texte_texte div.encadre_blanc,
#votre-programme-expertises  .texte_contenu .texte_texte p.encadre_blanc,
#votre-programme-expertises  .texte_contenu .texte_texte div.encadre_blanc,
#avis-corps-medical-comite-de-parrainage .texte_contenu .texte_texte p.encadre_blanc,
#avis-corps-medical-comite-de-parrainage .texte_contenu .texte_texte div.encadre_blanc,
#avis-corps-medical-dr-marc-danzon .texte_contenu .texte_texte p.encadre_blanc,
#avis-corps-medical-dr-marc-danzon .texte_contenu .texte_texte div.encadre_blanc,
#avis-corps-medical-pr-michel-revel .texte_contenu .texte_texte p.encadre_blanc,
#avis-corps-medical-pr-michel-revel .texte_contenu .texte_texte div.encadre_blanc,
#avis-corps-medical-dr-emmanuel-verhaeghe .texte_contenu .texte_texte p.encadre_blanc,
#avis-corps-medical-dr-emmanuel-verhaeghe .texte_contenu .texte_texte div.encadre_blanc {
  border:thin solid #0080FF;
}



/* services, test-express*/
/*
#demonstration-extraits
#demonstration-video
#test-express
*/
#demonstration-video .texte_header .bandeau ,
#demonstration-extraits .texte_header .bandeau ,
#test-express .texte_header .bandeau {
  background-color:#74C114;
}
#demonstration-video .texte_header .edito ,
#demonstration-extraits .texte_header .edito ,
#test-express .texte_header .edito {
  background-color:#95CB42;
}

#demonstration-video .texte_contenu ul.menu a ,
#demonstration-extraits .texte_contenu ul.menu a ,
#test-express .texte_contenu ul.menu a {
  color:#65B80E;
  background-color:#D0F496;
}

#demonstration-video .texte_contenu ul.menu li.actif a,
#demonstration-extraits .texte_contenu ul.menu li.actif a,
#test-express .texte_contenu ul.menu li.actif a {
  color:#FFFFFF;
  background-color:#74C114;
}

#demonstration-video .texte_contenu ul.menu,
#demonstration-extraits .texte_contenu ul.menu,
#test-express .texte_contenu ul.menu{
  background-color:#D0F496;
}

#demonstration-video .texte_contenu .texte_texte,
#demonstration-extraits .texte_contenu .texte_texte,
#test-express .texte_contenu .texte_texte {
border-left-color: #65B80E;
}

#demonstration-video  .texte_contenu .texte_texte a,
#demonstration-extraits  .texte_contenu .texte_texte a,
#test-express  .texte_contenu .texte_texte a{
  color:#65B80E;
  text-decoration:underline;

}

#demonstration-video .texte_contenu .texte_texte h3,
#demonstration-extraits .texte_contenu .texte_texte h3,
#test-express .texte_contenu .texte_texte h3 {
  color:#65B80E;
}

#demonstration-video .texte_contenu .texte_texte h4,
#demonstration-extraits .texte_contenu .texte_texte h4,
#test-express .texte_contenu .texte_texte h4 {
  background:transparent url(../img/img_css/puce_fleche_vert.png) top left no-repeat;
  color:#65B80E;
}

#demonstration-video .texte_contenu .texte_texte p.encadre_couleur ,
#demonstration-extraits .texte_contenu .texte_texte p.encadre_couleur ,
#test-express .texte_contenu .texte_texte p.encadre_couleur,
#demonstration-video .texte_contenu div.encadre_couleur,
#demonstration-extraits .texte_contenu div.encadre_couleur,
#test-express .texte_contenu div.encadre_couleur{
  background-color:#95CB42;
  border:thin solid #95CB42;
}

#demonstration-video .texte_contenu .texte_texte p.encadre_blanc,
#demonstration-extraits .texte_contenu .texte_texte p.encadre_blanc,
#test-express .texte_contenu .texte_texte p.encadre_blanc  {
  border:thin solid #74A414;
}


/* contact, temoignages*/
/*
#contact
#temoignages
*/
#contact .texte_header .bandeau ,
#temoignages .texte_header .bandeau {
  background-color:#FF7700;
}

#contact .texte_header .edito ,
#temoignages .texte_header .edito {
  background-color:#FF951C;
}

#contact .texte_contenu ul.menu a ,
#temoignages .texte_contenu ul.menu a {
  color:#F76416;
  background-color:#FFCAA3;
}

#contact .texte_contenu ul.menu li.actif a,
#temoignages .texte_contenu ul.menu li.actif a {
  color:#FFFFFF;
  background-color:#FF7700;
}

#contact .texte_contenu ul.menu,
#temoignages .texte_contenu ul.menu{
  background-color:#FFCAA3;
}



#contact .texte_contenu .texte_texte,
#temoignages .texte_contenu .texte_texte {
border-left-color: #F76416;
}

#contact .texte_contenu .texte_texte h3,
#temoignages .texte_contenu .texte_texte h3 {
  color:#F76416;
}
#contact .texte_contenu .texte_texte h4,
#temoignages .texte_contenu .texte_texte h4 {
  background:transparent url(../img/img_css/puce_fleche_orange.png) top left no-repeat;
  color:#F76416;
}

#contact .texte_texte p.encadre_couleur ,
#temoignages .texte_texte p.encadre_couleur{
  background-color:#FF951C;;
  border:thin solid #FF951C;;
}

#contact .texte_texte p.encadre_blanc,
#temoignages .texte_texte p.encadre_blanc {
  border:thin solid #FF7700;
}

#temoignages .readmore {
  color: #FF7700;
  margin-left: 10px;
  font-style:italic;
}

/* abonnement*/
#result-abonnement-ko .texte_header .bandeau,
#result-abonnement-ok .texte_header .bandeau,
#abonnement .texte_header .bandeau { background-color:#6823FF; }
#result-abonnement-ko .texte_header .edito,
#result-abonnement-ok .texte_header .edito,
#abonnement .texte_header .edito { background-color:#8757FF;}
#result-abonnement-ko .texte_contenu ul.menu a,
#result-abonnement-ok .texte_contenu ul.menu a,
#abonnement .texte_contenu ul.menu a {
  color:#5900FE;
  background-color:#C9ABFE;
}
#result-abonnement-ko .texte_contenu ul.menu li.actif a,
#result-abonnement-ok .texte_contenu ul.menu li.actif a,
#abonnement .texte_contenu ul.menu li.actif a {
  color:#FFFFFF;
  background-color:#6823FF;
}
#result-abonnement-ko .texte_contenu .texte_texte h3,
#result-abonnement-ok .texte_contenu .texte_texte h3,
#abonnement .texte_contenu .texte_texte h3,
#la-methode-simple-efficace .texte_contenu .texte_texte h3  { color:#5900FE;}

#result-abonnement-ko .texte_contenu .texte_texte h4,
#result-abonnement-ok .texte_contenu .texte_texte h4,
#abonnement .texte_contenu .texte_texte h4,
#la-methode-simple-efficace .texte_contenu .texte_texte h4{
  background:transparent url(../img/img_css/puce_fleche_violet.png) top left no-repeat;
  color:#5900FE;
}
#result-abonnement-ko .texte_contenu .texte_texte p.encadre_couleur,
#result-abonnement-ok .texte_contenu .texte_texte p.encadre_couleur,
#abonnement .texte_contenu .texte_texte p.encadre_couleur {
  background-color:#8757FF;
  border:thin solid #6823FF;
}
#result-abonnement-ko .texte_texte p.encadre_blanc,
#result-abonnement-ok .texte_texte p.encadre_blanc,
#abonnement .texte_texte p.encadre_blanc { border:thin solid #6823FF;}

.texte_contenu .texte_texte .error {
  margin-left: 20px;
  /*border: 2px solid #FF0000;*/
  color: #FF0000;
  padding: 5px 0;
}
.texte_contenu .texte_texte .error p {
  font-size: 0.9em;
  line-height: 1.1em;
  color: #FF0000;
}
.texte_contenu .texte_texte p.error {
  padding: 10px 20px;
  color: #FF0000;
}

.msg {
  border: 1px solid #5A990B;
  background-color: #DFFFAA;
  color: #5A990B;
  padding: 5px 20px;
}

.texte_texte .msg {
  margin-left: 20px;
}


#menu_admin {
  margin-top: 1px;
  height: 26px;
}
#menu_admin li { display: inline;}
#menu_admin a {
  display: block;
  float: left;
  background-color: #FF569C;
  color: #FFFFFF;
  padding: 5px 10px;
  margin-right: 1px;
}


/* CLUETIP*/
.cluetip-default {
  background-color: #6CABFF;
}
.cluetip-default #cluetip-outer {
  background-color: #6CABFF;
}
.cluetip-default #cluetip-inner {
  padding: 0 0 1px 0;
}
.cluetip-default #cluetip-inner h4 {
  color: #FFFFFF;
  background: #0080FF;
  padding: 5px 10px;
  margin-bottom: 8px;
  font-size: 1.4em;
}
.cluetip-default #cluetip-inner p {
  margin: 0 10px 0.5em;
  color: #000000;
  font-size:16px;
}


/* Accordeon */
.texte_contenu .texte_texte .accordion h4 {
  background-image: url(../img/img_css/puce_plus_rose.png);
  cursor:pointer;
}

.texte_contenu .texte_texte .accordion h4.selected {
  background-image: url(../img/img_css/puce_fleche_rose.png);
}

map area {
  cursor: help;
}

/* Mon compte */
.informations.formulaire label,
.informations.formulaire p.radio_line label.full_width { width: 180px; }
.informations.formulaire input.input_text { width: 150px; }

/* accueil */
.texte_accueil {
  margin: 3px 0 0 3px;
}

.texte_accueil img {
  float: none;
}
.slogan {
  float: left;
  width: 230px;
  text-align: center;
   margin-top: 30px;
}

.slogan_btn {
  margin-top: 37px;
}
.slogan_widget img{
  padding:10px 0 0 15px;
}
.player_flash_accueil{
  margin-left:230px;
}
.accueil_cadre{
  width: 218px;
  height: 290px;
  margin: 4px;
  float: left;
}
.accueil_cadre h6 {
  background: transparent url(../img/img_css/accueil_cadre01.png) top left no-repeat;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 40px;
  padding-left: 40px;
}
.accueil_cadre.cadre_orange h6 { background-image: url(../img/img_css/accueil_cadre01.png);}
.accueil_cadre.cadre_vert h6 { background-image: url(../img/img_css/accueil_cadre02.png);}
.accueil_cadre.cadre_rose2 h6 ,
.accueil_cadre.cadre_rose3 h6 { background-image: url(../img/img_css/accueil_cadre03.png);}
.accueil_cadre.cadre_bleu h6 { background-image: url(../img/img_css/accueil_cadre04.png);}
.accueil_cadre.cadre_violet h6 { background-image: url(../img/img_css/accueil_cadre05.png);}
.accueil_cadre.cadre_violet2 h6 { background-image: url(../img/img_css/accueil_cadre06.png);}

.accueil_cadre a,
.texte_accueil a{
  color:#FFFFFF;
  text-decoration:none;
}
.texte_accueil a.encart_abonnement {
  margin-left: 4px;
  padding-top:3px;
  clear: left;
  display: block;
}

.accueil_cadre .texte{
  color:#FFFFFF;
  font-size:17px;
  padding: 7px 6px 0;
}

.accueil_cadre .texte p{
  color:#FFFFFF;
}

.accueil_cadre .texte.lignes_4{
  padding:227px 25px 25px 25px;
}

.accueil_cadre .texte.large{
  padding:80px 25px 25px 360px;
}

.accueil_cadre.cadre_rose,
.methode_cadre.cadre_rose {
  border:1px solid #F02A81;
  background-color: #F02A81;
}

.accueil_cadre.cadre_rose2,
.accueil_cadre.cadre_rose3,
.methode_cadre.cadre_rose2 {
  border:1px solid #FF569C;
  background-color: #FF569C;
}

.accueil_cadre.cadre_bleu,
.methode_cadre.cadre_bleu {
  border:1px solid #00AEff;
  background-color: #00AEff;
}

.accueil_cadre.cadre_vert,
.methode_cadre.cadre_vert {
  border:1px solid #74A414;
  background-color: #74A414;
}

.accueil_cadre.cadre_vert2,
.methode_cadre.cadre_vert2 {
  border:1px solid #BAD514;
  background-color: #BAD514;
}

.accueil_cadre.cadre_orange,
.methode_cadre.cadre_orange {
  border:1px solid #FF7700;
  background-color: #FF7700;
}

.accueil_cadre.cadre_violet,
.methode_cadre.cadre_violet {
  border:1px solid #6823FF;
  background-color: #6823FF;
}

.accueil_cadre.cadre_violet2,
.methode_cadre.cadre_violet2 {
  border:1px solid #9a79ff;
  background-color: #9a79ff;
}

.accueil_texte{
  clear:left;
  padding:20px 30px 20px 20px;
  font-size:12px;
  color:#666666;
  text-align:justify;
}

.accueil_texte p{
  margin-bottom:10px;
}

/* Méthode cadres */
.seances{
  margin-left:15px;
}
.methode_cadre{
  width:208px;
  height:440px;
  margin:4px;
  float:left;
}

.methode_cadre .texte{
  font-size:17px;
  padding:15px 20px 20px 20px;
  text-align:left;
}

.methode_cadre .texte p{
  color:#FFFFFF;
  margin-bottom:0;
  padding-left:0;
  text-align:left;
}

#la-methode h5{
  color:#FFFFFF;
  font-size:16px;
  line-height:30px;
  text-align:center;
  background-color: #F02A81;
  margin-left:20px;
  background-image:none;
  width:620px;
}

.methode_cadre h6{
  color:#FFFFFF;
  font-size:16px;
  line-height:30px;
  text-align:center;
}

.methode_cadre.cadre_rose2 {
  width:644px;
  height:160px;
}

.methode_cadre.cadre_rose2 img{
  width:644px;
  height:1px;
}

/*Méthode images*/
.encadre_image{
  position:relative;
  width:620px;
  margin-left:50px;
}

.encadre_image .encadre_couleur,
.encadre_image .encadre_blanc,
.encadre_image .quote{ /*<div class="encadre_image"><div class="encadre_couleur"></div></div>*/
  position:absolute;
  padding:15px 15px 7px 15px;
}

.texte_contenu .texte_texte .cadre_bicolore {
  width: 300px;
}

.texte_contenu .texte_texte .cadre_bicolore .encadre_blanc{
  text-align:center;
  margin-bottom: 0;
}


.texte_contenu .texte_texte .encadre_couleur.methode01_01{
  height:480px;
  width:325px;
  margin-left:313px;
  position:relative;
}

.encadre_couleur.methode01_01 img{
  margin-bottom:10px;
  position:absolute;
  right:15px;
  top:145px;
}



.encadre_image.methode01_02{
  background:transparent url(../img/img_css/01methode01_02.jpg) top left no-repeat;
  height:300px;
}

.texte_contenu .texte_texte .encadre_image.methode01_02 .encadre_couleur{
  left:14px;
  top:8px;
  width:223px;
  margin-left:0;
  background-color:transparent;
  border:none;
}

.texte_contenu .texte_texte .encadre_image.methode01_02 .encadre_couleur p{
    color:#F12A82;
}

.encadre_image.methode01_03{
  background:transparent url(../img/img_css/01methode01_03.jpg) top left no-repeat;
  height:290px;
}

.encadre_image.methode01_03 .encadre_couleur{
  left:0;
  top:10px;
  width:215px;
}

.texte_contenu .texte_texte .encadre_image.methode01_04 .encadre_couleur{
  right:25px;
  top:0;
  width:301px;
  padding:30px;
}

.texte_contenu .texte_texte .compo_par4{
   height:675px;
   margin-top:10px;
   margin-left:50px;
}
.texte_contenu .texte_texte .compo_par4_gauche,
.texte_contenu .texte_texte .compo_par4_droite{
 background-color: #F12A82;
   position: relative;
   float: left;
   padding: 5px;
 width: 240px;
}
.texte_contenu .texte_texte .compo_par4_gauche{
   margin-left: 90px;
   margin-top: 55px;
   height: 600px;
   padding-right:10px;
}
.texte_contenu .texte_texte .compo_par4_droite{
   padding: 0 0 0 5px;

}
.texte_contenu .texte_texte .compo_par4_droite .encadre_couleur {
  width : 253px;
   padding: 10px 12px 8px 3px;
   margin: 0;
}
.texte_contenu .texte_texte .compo_par4_01{

  margin-bottom: 5px;
}

.texte_contenu .texte_texte .compo_par4_02{
  border:5px solid #F12A82;

}
.texte_contenu .texte_texte .compo_par4_03{
  position: absolute;
  bottom:5px;
  right: 5px;

}


.texte_contenu .texte_texte .cadre_bicolore.methode01_05{
  margin-left:95px;
  width:500px;
}

#la-methode-simple-efficace .retrait{
  margin-left:90px;
}

.texte_contenu .texte_texte .cadre_bicolore.methode01_05 ul {
  text-align:left;
}

.texte_contenu .texte_texte .cadre_bicolore.methode01_06 {
  width: 220px;
}

.texte_contenu .texte_texte .cadre_bicolore.methode01_06 a{
  font-size:13px;
}

.texte_contenu .texte_texte .cadre_bicolore.methode01_06 *{
  position: static;
}

.texte_contenu .texte_texte .encadre_couleur.seances{
  width:605px;
  text-align:center;
  font-size:16px;
}

.texte_contenu .texte_texte .methode01_07 {
  background:transparent url(../img/img_css/01methode01_05.jpg) top center no-repeat;
  height:500px;
  padding-top: 300px;
  margin-left:10px;
  width:auto;
}

.cadre_bicolore.methode01_06 {
  float: left;
}
.texte_contenu .texte_texte .cadre_bicolore.methode01_06 .encadre_couleur {
  height:475px;
  text-align:left;
  margin-left:10px;
}

.texte_contenu .texte_texte .cadre_bicolore.methode01_06 .encadre_blanc {
  margin-left:10px;
}


.texte_contenu .texte_texte .methode02_01{
  height:365px;
}

.texte_contenu .texte_texte .methode02_01 .encadre_blanc{
  width:221px;
  margin-left:135px;
  margin-bottom:20px;
}

.texte_contenu .texte_texte .methode02_01 .img_right{
  margin:0 60px 30px 40px;
}

.texte_contenu .texte_texte .methode02_01 .encadre_couleur{
  width:400px;
  margin-left:85px;
  padding:20px 20px 15px 40px;
}

.encadre_image.methode02_02{ /*<div class="encadre_image methode02_02">*/
  background:transparent url(../img/img_css/01methode02_02.jpg) top left no-repeat;
  height:490px;
  margin-left:115px;

}

.texte_contenu .texte_texte .encadre_image.methode02_02 .encadre_couleur{ /*<div class="encadre_image methode02_02"><div class="encadre_couleur"></div></div>*/
  right:180px;
  bottom:0;
  width:300px;
  margin-bottom:0;
}

.texte_contenu .texte_texte .methode02_03,
.texte_contenu .texte_texte .methode02_05,
.texte_contenu .texte_texte .methode02_06,
.texte_contenu .texte_texte .methode02_07,
.texte_contenu .texte_texte .methode02_09,
.texte_contenu .texte_texte .faq01_01,
.texte_contenu .texte_texte .faq01_02,
.texte_contenu .texte_texte .faq01_03,
.texte_contenu .texte_texte .faq01_04,
.texte_contenu .texte_texte .faq01_05,
.texte_contenu .texte_texte .faq01_06,
.texte_contenu .texte_texte .faq02_01,
.texte_contenu .texte_texte .faq02_02,
.texte_contenu .texte_texte .faq02_03,
.texte_contenu .texte_texte .faq02_04,
.texte_contenu .texte_texte .faq02_05,
.texte_contenu .texte_texte .faq02_06,
.texte_contenu .texte_texte .faq02_07,
.texte_contenu .texte_texte .faq02_08{
  padding-left:70px;
  padding-right:90px;
}

.texte_contenu .texte_texte .methode02_03 .encadre_couleur{
  margin-left:20px;
}

.texte_contenu .texte_texte .encadre_couleur.methode02_04{
  width:280px;
  margin-left:115px;
}

.encadre_couleur.methode02_04 img{
  margin-bottom:10px;
}

.texte_contenu .texte_texte .encadre_couleur p,
.texte_contenu .texte_texte .encadre_blanc p{
  padding-left:0;
}

.encadre_image.methode02_04 .encadre_couleur{
  left:0;
  bottom:0;
  width:200px;
}

.texte_contenu .texte_texte .methode02_05{
  height:245px;
}

.texte_contenu .texte_texte .methode02_06{
  height:440px;
}



.texte_contenu .texte_texte .methode02_06 img{
  margin-left:10px;
}
.texte_contenu .texte_texte .encadre_image.methode02_08{
  background:transparent url(../img/img_css/01methode02_08.jpg) top left no-repeat;
  height:620px;
  margin-left:115px;
}

.texte_contenu .texte_texte .methode02_09{
  height:315px;
}

.texte_contenu .texte_texte .encadre_image.methode02_08 .encadre_couleur{
  right:190px;
  top:3px;
  width:230px;
  background-color:transparent;
  border:none;
  color:#F12A82;
}

.texte_contenu .texte_texte .encadre_image.methode02_08 .encadre_couleur p{
  color:#F12A82;
}
.texte_contenu .texte_texte .encadre_blanc.methode01_03{
  width:230px;
  margin-left:50px;
  margin-bottom:100px;
  margin-top:100px;
}

#la-methode-apport-technologique .texte_texte p span{
  color:#F12A82;
}

#la-methode-apport-technologique .texte_texte h5 div{
  color:#FFFFFF;
  background-color:#FF569C;
  padding:6px 8px 6px 8px;
}

.texte_interview{
  margin:3px 20px 30px 20px;
}


.encadre_image.methode04_01{
  background:transparent url(../img/img_css/01methode04_01.jpg) top right no-repeat;
  height:445px;
  padding-right:30px;
  width:550px;
}

.encadre_image.methode04_01 .encadre_blanc{
  left: 60px;
  top:20px;
  width:280px;
}
.encadre_image.methode04_01 .encadre_couleur{
  left:85px;
  top:175px;
  width:230px;
  text-align:center;
}

.encadre_image.methode04_01 .texte_intro{
  padding-right:108px;
  padding-top:30px;
}

/*quote*/

.quote p span{
  font-size:28px;
}

#la-methode-apport-technologique .quote{
  background:transparent url(../img/img_css/guillemets_rose01.png) top left no-repeat;
  left:25px;
  top:130px;
  width:365px;
  padding:40px 0 0 30px;
}

#la-methode-apport-technologique .quote p{
  color:#F12A82;
  text-align:center;
  font-size:18px;
  line-height:30px;
}


#la-methode-apport-technologique .quote .quote_texte{
  background:transparent url(../img/img_css/guillemets_rose02.png) bottom right no-repeat;
  padding:0 60px 30px 0;
}


/*programme*/

.encadre_couleur.programme02_01{
  height:230px;
  width:125px;
  float:right;
}

.encadre_couleur.programme02_01 p{
  text-align:left;
}

.encadre_image.programme02_02{
  background:transparent url(../img/img_css/02programme02_02.jpg) top left no-repeat;
  height:280px;
  margin-left:20px;
  width:630px;
}

.encadre_image.programme02_02 .encadre_couleur{
  left:0;
  top:0;
  width:215px;
}


.encadre_image.programme02_03{
  background:transparent url(../img/img_css/02programme02_03.jpg) top center no-repeat;
  height:550px;
  width:560px;
}

.texte_contenu .texte_texte .encadre_image.programme02_03 .encadre_blanc{
  left:0;
  top:300px;
  width:475px;
  margin-left:25px;
}

.texte_contenu .texte_texte .encadre_image.programme02_03 .encadre_couleur{
  left:0;
  top:420px;
  width:475px;
  margin-left:25px;
}

.texte_marge{
  padding-left:50px;
  padding-right:60px;

}
.retrait{
  margin-left:20px;
}



#votre-programme-services .quote{
  background:transparent url(../img/img_css/guillemets_bleu_petit01.png) top left no-repeat;
  margin-left:20px;
  margin-top:20px;
  width:260px;
  padding:10px 0 0 0;
}

#votre-programme-services .quote p{
  color:#0080FF;
  text-align:center;
  font-size:16px;
  line-height:30px;
}

#votre-programme-services .quote span{
  font-size:24px;
}

#votre-programme-services .quote .quote_texte{
  background:transparent url(../img/img_css/guillemets_bleu_petit02.png) bottom right no-repeat;
  padding:0 10px 15px 10px;
}


#votre-programme-services .texte_texte p span{
  color:#0080FF;
}

.services_btn{
  padding-left:125px;
 }


/*spécialistes*/
.texte_contenu .texte_texte .specialistes01_01{
  height:180px;
}


.texte_contenu .texte_texte .encadre_couleur.specialistes02_01 {
  float:left;
  height:210px;
  margin-right:20px;
  width:150px;
  text-align:left;
}

.texte_contenu .texte_texte .encadre_couleur.specialistes02_02 {
  float:right;
  height:auto;
  width:320px;
  text-align:left;
}
.texte_contenu .texte_texte .encadre_couleur.specialistes02_03 {
  float:left;
  height:auto;
  margin-right:20px;
  width:150px;
  text-align:left;
}

.texte_contenu .texte_texte .encadre_couleur.specialistes02_04 {
  float:right;
  height:135px;
  width:150px;
  text-align:left;
}

.texte_contenu .texte_texte .encadre_couleur.specialistes02_05 {
  float:left;
  height:auto;
  width:320px;
  text-align:left;
  margin-right:20px;
}
.texte_contenu .texte_texte .encadre_couleur.specialistes02_01 p,
.texte_contenu .texte_texte .encadre_couleur.specialistes02_02 p,
.texte_contenu .texte_texte .encadre_couleur.specialistes04_01 p{
  text-align:left;
}

.texte_contenu .texte_texte .encadre_couleur.specialistes04_01 {
  float:left;
  height:320px;
  margin-right:20px;
  width:200px;
}

#avis-corps-medical-pr-michel-revel .quote{
  background:none;
  margin-left:20px;
  margin-top:10px;
  width:375px;
  padding:40px 10px 0 55px;
}

#avis-corps-medical-dr-marc-danzon .encadre_image.medical_danzon .quote{
  background:transparent url(../img/img_css/guillemets_bleu01.png) top left no-repeat;
  margin-left:150px;
  width:360px;
  padding:40px 0 0 30px;

}

#avis-corps-medical-dr-marc-danzon .encadre_image.medical_danzon .quote{
  background:none;
  margin-left:20px;
  margin-top:10px;
  width:375px;
  padding:55px 10px 0 240px;
}

#avis-corps-medical-dr-emmanuel-verhaeghe .quote{
  background:transparent url(../img/img_css/guillemets_bleu01.png) top left no-repeat;
  margin-left:150px;
  width:360px;
  padding:40px 0 0 30px;
}

#avis-corps-medical-dr-marc-danzon .quote{
  background:transparent url(../img/img_css/guillemets_bleu01.png) top left no-repeat;
  margin-left:65px;
  width:395px;
  padding:40px 0 0 40px;
}

#avis-corps-medical-pr-michel-revel .quote p,
#avis-corps-medical-dr-emmanuel-verhaeghe .quote p,
#avis-corps-medical-dr-marc-danzon .quote p{
  color:#0080FF;
  text-align:center;
  font-size:18px;
  line-height:30px;
}

#avis-corps-medical-dr-marc-danzon .encadre_image.medical_danzon .quote p{
  color:#FFFFFF;
  text-align:center;
  font-size:18px;
  line-height:30px;
}


#avis-corps-medical-pr-michel-revel .quote .quote_texte{
  background:none;
  padding:0 60px 30px 0;
}

#avis-corps-medical-dr-marc-danzon .encadre_image.medical_danzon .quote .quote_texte{
  background:none;
  padding:0 60px 30px 0;
}


#avis-corps-medical-dr-marc-danzon .encadre_image.medical_danzon .quote .quote_texte span{
  color:#FFFFFF;
}

#avis-corps-medical-dr-emmanuel-verhaeghe .quote .quote_texte,
#avis-corps-medical-dr-marc-danzon .quote .quote_texte{
  background:transparent url(../img/img_css/guillemets_bleu02.png) bottom right no-repeat;
  padding:0 60px 30px 0;
}

#avis-corps-medical-pr-michel-revel .texte_texte h5 div,
#avis-corps-medical-dr-emmanuel-verhaeghe .texte_texte h5 div,
#avis-corps-medical-dr-marc-danzon .texte_texte h5 div {
  color:#FFFFFF;
  background-color:#6CABFF;
  padding:6px 8px 6px 8px;
}

#votre-programme-expertises  .texte_texte p span,
#avis-corps-medical-pr-michel-revel .texte_texte p span,
#avis-corps-medical-dr-emmanuel-verhaeghe .texte_texte p span,
#avis-corps-medical-dr-marc-danzon .texte_texte p span{
  color:#0080FF;
}

#avis-corps-medical-dr-marc-danzon .texte_texte p span{
  color:#0080FF;
}

.encadre_image.specialistes03_01{
  background:transparent url(../img/img_css/07specialistes03_01.jpg) top right no-repeat;
  height:380px;
  padding-right:10px;
  width:635px;
  margin-left:17px;
}
.encadre_image.medical_danzon{
  background:transparent url(../img/img_css/07medical_danzon.jpg) top right no-repeat;
  height:380px;
  padding-right:10px;
  width:635px;
  margin-left:17px;
}

.encadre_image.specialistes03_01 .texte_intro{
  padding-right:190px;
}


/*test express*/

.texte_contenu .texte_texte .encadre_image.test_express{
  background: transparent url(../img/img_css/08test_express_01.jpg) no-repeat scroll 20px 152px;
  width: 670px;
  height: 600px;
  margin-left: 0;
  margin-bottom: 90px;
}

.texte_contenu .texte_texte .encadre_image.confirm{
  width: 650px;
  margin-left: 20px;
}
.texte_contenu .texte_texte .encadre_image.confirm .encadre_couleur{
  margin-left: 0;
  position: static;
  height: auto;
}


.texte_contenu .texte_texte .contenu_test .error {
  margin-left: 0;
}
.texte_contenu .texte_texte .contenu_test p.field {
  clear: none;
  float: left;
  width: 50%;
}

.texte_contenu .texte_texte .contenu_test label {
  width: 180px;
}

.texte_contenu .texte_texte .contenu_test .encadre_couleur{
  position: relative;
  height: 135px;
}

.texte_contenu .texte_texte .contenu_test .fin_form{
  position: absolute;
  right: 0;
  margin-left: 20px;
  width: 250px;
}
.texte_contenu .texte_texte .contenu_test .fin_form p {
  margin-bottom: 5px;
  padding-top: 0;
}
.texte_contenu .texte_texte .contenu_test .fin_form .btn_center{
  margin-left: 55px;
  margin-top: 10px;
}
.texte_contenu .texte_texte .texte_left {
  text-align: left;
}



/*temoignages*/

#temoignages .quote{
  background:transparent url(../img/img_css/guillemets_orange01.png) top left no-repeat;
  margin-left:260px;
  width:330px;
  padding:40px 0 0 45px;
  margin-bottom:10px;
  margin-top:20px;
}

#temoignages .quote.droite{
  margin-left:260px;
  padding:40px 0 0 45px;
}

#temoignages .quote.gauche{
  margin-left:35px;
  padding:40px 0 0 45px;
}

#temoignages .quote p{
  color:#FF7700;
  text-align:center;
  font-size:18px;
  line-height:30px;
}


#temoignages .quote .quote_texte{
  background:transparent url(../img/img_css/guillemets_orange02.png) bottom right no-repeat;
  padding:0 60px 30px 0;
}

#temoignages .texte_texte h6 {
  color:#FFFFFF;
  background-color:#FF7700;
  padding:17px 12px 12px 8px;
  font-size:15px;
  width:640px;
  font-weight:normal;
  text-align:right;
  margin-left:15px;
  margin-bottom:15px;
}


#temoignages .texte_texte p span{
  color:#FF7700;
}

.temoignage_photo{
  margin:25px 10px 20px 10px;
  float:left;
}

.temoignage_photo.border{
  border:thin solid #FF7700;
}

.temoignage_photo.left{
  float:left;
}

.temoignage_photo.right{
  float:right;
}



#temoignages .texte_marge.droite{
  padding-left:220px;
  padding-right:0;
}

#temoignages .texte_marge.gauche{
  padding-left:0;
  padding-right:220px;
}

#contact .texte_contenu .texte_texte h3{
  margin-top:20px;
}

/*FAQ*/

.texte_contenu .texte_texte .faq01_01{
  height:240px;
}

/*vidéos*/

.player_flash_650{
    width:650px;
    margin-left:20px;
}
/*abonnement*/

.pave_securite{
    margin:30px 25px 50px 25px;
    width:620px;
}

.pave_securite p{
    color:#6823FF;
}

.formulaire{ margin:10px 0 10px 20px;}

.texte_contenu .texte_texte .formulaire p { text-align: left;}
.formulaire p.radio_line label.full_width {
  display: block; float: left; width: 200px;
}
#abonnement .formulaire{ margin:10px 50px 30px 10px;}
#abonnement .input_text{ width:180px;}

/*newsletter*/

#newsletter .retrait{
    margin-left:70px;
}


.cancel_abonnement,
.cancel_paiement {
  background: #FFFFFF url('../img/img_css/delete.png') top left no-repeat;
  padding-left: 20px;
  text-decoration: underline;
  color: #E61372;
  border: 0;
}

.submit_link {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  text-decoration: underline;
  color: #E61372;
  cursor: pointer;
}

.submit_link:hover {
  text-decoration: underline;
}

/*CGV*/

#conditions-generales-de-vente .texte_contenu .texte_texte p,
#conditions-generales-de-vente .texte_contenu .texte_texte ul,
#informations-legales .texte_contenu .texte_texte p,
#informations-legales .texte_contenu .texte_texte ul {
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
    font-weight:normal;
    margin-bottom:8px;
    padding-left:20px;
    text-align:justify;
    line-height:18px;
}

#conditions-generales-de-vente .texte_contenu .texte_texte ul,
#informations-legales .texte_contenu .texte_texte ul{
    margin-left:50px;
}

#conditions-generales-de-vente .texte_contenu .texte_texte table{
    margin-left:20px;
    border:solid thin #E61372;
    padding:5px;
    margin-top:5px;
    margin-bottom:10px;
    border-collapse:collapse;
    border:solid 2px #E61372;
}


#conditions-generales-de-vente .texte_contenu .texte_texte table th,
#conditions-generales-de-vente .texte_contenu .texte_texte table td{
    border:solid 1px #E61372;
    padding:5px;
    text-align:center;
}

#conditions-generales-de-vente .texte_contenu .texte_texte table th{
   background-color:#FF579C;
   color:#FFFFFF;
}

#conditions-generales-de-vente .texte_contenu .texte_texte table span{
    font-size:12px;
    line-height:16px;
}


span.oblig {
  color: #6823FF;
}

.contenu_test span.oblig {
  color: #95CB42;
}

/* Page téléchargement */
#telechargement .full_width {width: auto}
#telechargement {margin-left: 0}


#avis-corps-medical-comite-de-parrainage h3 {
  clear: left;
}

.texte_contenu .nav {
  list-style-type: none;
  height: 2em;
}

.texte_contenu .nav li {
  background-image: none;
  display: inline;
  padding: 0;
}

.texte_contenu .nav li a {
  display: block;
  padding: 0 0.5em;
  margin: 0 0.5em;
  height: 2em;
  float: left;
}


.texte_contenu .nav li a.inactive {
  color: #444444;
  text-decoration: none;
  cursor: inherit;
}

span.ok {
  color: #00AF00;
}

span.ko {
  color: #FF0000;
  font-weight: bold;
}