/*
    Document   : scramblednations.css
    Created on : 22 sept. 2012, 17:53:54
    Author     : Hypolite
    Description:
        Purpose of the stylesheet follows.
*/

body {
  padding-top: 70px;
  background-color: rgb(17, 17, 17);
  color: rgb(211, 211, 211);
}

body.clean {
  background: none;
  padding: 0;
}

button {
  color: rgb(17, 17, 17);
}

a {
  color: white;
  font-weight: bold;
}

a:focus, a:hover {
  color: white;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: inherit;
  background-color: none;
  border: 1px solid #ddd;
  border-bottom-color: rgb(17, 17, 17);
  outline: none;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
}

.table>thead>tr>th {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: normal;
}

.table-hover>tbody>tr:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: rgba(64, 64, 64, 0.4);
}

.well,
input,
select,
option{
  background-color: rgba(255, 255, 255, 0.1);
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background: none;
  color: inherit;
}

.map_background:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-size: 100%;
  width: 1140px;
  height: 1140px;
  margin: 0 auto;

  -webkit-filter: blur(10px) brightness(0.5);
  -moz-filter: blur(10px) brightness(0.5);
  -o-filter: blur(10px) brightness(0.5);
  -ms-filter: blur(10px) brightness(0.5);
  filter: blur(10px) brightness(0.5);
}

.pagination>li>a,
.pagination>li>span {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: #ddd;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: rgb(17, 17, 17);
  background-color: #eee;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  color: #fff;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #ddd;
}

.modal-content {
  background-color: rgba(17, 17, 17, 0.8);
}

.modal-header {
  background-color: black;
}

.close {
  color: inherit;
  opacity: 1;
}
.close:focus, .close:hover {
  color: rgb(255, 255, 255);
}

.dialog{
  display: none;
  position: absolute !important;
  top: 200px;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  border-radius: 8px 8px 0 0;
  border: 1px solid rgb(128, 128, 128);
}

.dialog h4 {
  background-color: rgba(0, 0, 0, 1);
  padding: 10px;
  cursor: move;
  position: relative;
  margin: 0;
  border-bottom:  1px solid rgb(128, 128, 128);
  border-radius: 8px 8px 0 0;
}

.dialog h4 a.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.dialog .content {
  border: 1px double #C0C0C0;
  border-width: 0 3px 3px 0;
  margin: 0 3px 3px 0;
  padding: 5px;
  width: 400px;
  height: 600px;
}
.dialog .content iframe{
  width: 100%;
  height: 100%;
}

.ui-resizable-helper { border: 10px solid rgba(0,0,0,0.3); border-width: 0 10px 10px 0; }

.ui-resizable-e {
  cursor: e-resize;
  width: 11px;
  right: 0;
  top: 0;
  height: 100%;
}

.ui-resizable-s {
  cursor: s-resize;
  height: 11px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.ui-resizable-se {
  cursor: se-resize;
  width: 15px;
  height: 15px;
  right: 1px;
  bottom: 1px;
}

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}

.archive .title th {
  cursor: pointer;
  background-color: #333333;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  text-align: center;
}

.archive.fogofwar .title th {
  cursor: not-allowed;
  background-color: #CCCCCC;
  color: #FFFFF;
}

#shoutwall {
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.orders fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

td.num,
th.num {
  text-align: right;
}

.icon {
  margin: 0 5px;
  vertical-align: sub;
}

.territory_summary {
  position: relative;
  left: -50%;
  top: -15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  border: 1px solid rgb(128, 128, 128);
  font-size: 80%;
}

.territory_summary h3 {
  margin: 0;
  padding: 3px 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: inherit;
  cursor: help;
  border-radius: 4px 4px 0 0;
}

.territory_summary.refuse_move {
  opacity: 0.4;
}

.territory_summary.refuse_move .ui-state-highlight {
  display: none;
}

.troops_list {
  margin: 0;
  padding: 5px;
  list-style: none;
  min-height: 20px;
}

.troops_list li {
  line-height: 1em;
  white-space: nowrap;
  margin-bottom: 3px;
  min-height: 16px;
}

.troops_list li.moveable {
  border: 1px solid black;
  border-radius: 0 0.5em 0.5em 0;
  background-color: rgba(255, 0, 0, 0.2);
}

.troops_list li .split,
.troops_list li.moveable.moved .split,
.troops_list li .cancel {
  display: none;
  margin: 3px 5px 3px 0;
}
.troops_list li.moveable .split,
.troops_list li.moveable.moved .cancel {
  display: inline;
  cursor: pointer;
  margin: 3px 5px 3px 0;
}

.troops_list li.moveable:before {
  content: url(../img/img_html/arrow_move.png);
  height: 16px;
  margin: 5px 5px 0;
  cursor: move;
  float: left;
}

.troops_list li.moved:before {
  content: url(../img/img_html/territory_in.png);
}

.icon_infos {
  list-style: none;
  padding: 0;
  overflow: hidden;
}

.icon_infos li {
  float: left;
  margin: 0 15px 5px 0;
}